*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

    font-family: "Inter", sans-serif;
    
}

:root{
    --dark-grey: #323a43;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --color-main: #cdba6d;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --light: #f8f9fa;
}

body{
    background-color: white;
}

main{
    width: 100%;
}

.mobile-only{
    display: block;
}

.desktop-only{
    display: none;
}

@media (width >= 1200px){
    .mobile-only{
        display: none;
    }

    .desktop-only{
        display: block;
    }
}