.box-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    padding: 4rem 1rem;
}

.box{
    width: 100%;
    background-color: var(--dark-gray);
    padding: 3rem;
    justify-items: center;
    text-align: center;

    & i{
        font-size: 2rem;
        color: var(--gold);
        margin-bottom: 2rem;
    }

    & h3{
        font: 700 1.25rem/20px "Playfair Display", serif;
        color: white;
    }

    & .divider{
        width: 25%;
        margin: 1.5rem 0;
        border-top: 3px solid var(--gold);
    }

    & p{
        font: 400 1rem/24px "Poppins", serif;
        color: white;
        max-width: 13rem;
    }
}