.box-container {
    width: 100%;
}

.box-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    padding: 4rem 1rem;
}

.box{
    width: 100%;
    background-color: var(--dark-gray);
    padding: 3rem;
    justify-items: center;
    text-align: center;

    & img{
        width: 3rem;
        margin-bottom: 2rem;
    }

    & h3{
        font: 700 1.25rem/20px "Playfair Display", serif;
        color: var(--light);
    }

    & .divider{
        width: 25%;
        margin: 1.5rem 0;
        border-top: 3px solid var(--gold);
    }

    & p{
        font: 400 1rem/24px "Poppins", serif;
        color: var(--light);
        max-width: 13rem;
    }
}

#box-two{
    background-color: var(--medium-gray);

    & img{
        width: 4rem;
    }

    & h3{
        color: var(--gold);
    }

    & .divider{
        border-top: 3px solid var(--light);
    }
}

@media (width >= 1200px) {
    .box-container {
        position: relative;
    }

    .box-content {
        padding: 0 1rem;
        margin-top: -7rem;
        flex-direction: row;
        gap: 0;
    }

    .box {
        width: 30%;
        z-index: 2;
    }
}