*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

    font-family: "Inter", sans-serif;
    
}

:root{
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --color-main: #cdba6d;
    --gold: rgb(205, 186, 109);
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --gray: #6c757d;
    --medium-gray: #323a43;
    --dark-gray: rgb(46, 53, 61);
    --primary: #007bff;
    --light: #f8f9fa;
}

main{
    width: 100%;
}

button{
    z-index: 2;
    color: white;
    font: 500 1rem/2rem "Poppins", sans-serif;
    letter-spacing: 1px;
    margin-top: 1.5rem;
    
    width: min-content;
    height: min-content;
    background-color: var(--color-main);
    white-space: nowrap;
    padding: .5rem 1rem;
    border: 2px solid transparent;
}

button:hover{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid var(--color-main);
}

.mobile-only{
    display: block;
}

.desktop-only{
    display: none;
}

@media (width >= 1200px){
    .mobile-only{
        display: none;
    }

    .desktop-only{
        display: block;
    }
}