.carousel-wrapper{
    width: 100%;
    overflow: hidden;
    position: relative;
}

#mask{
    position: absolute;
    background-size: cover;
    background-position: center;
    top: 91.5%;
    width: 100%;
    height: .75rem;
    z-index: 1;
}

.modal{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.slide-container{
    position: relative;
    display: flex;
    align-items: center;
    width: max-content;
    height: 55vh;
    transition: transform 0.6s ease-in-out; /* <- Animação suave */

    & #welcome{
        width: 100vw;
        height: 100%;
        background: url(../assets/video/welcome-video-ezgif.com-optimize.gif) center center;
        background-size: cover;

        & h1{
            padding: 0 1rem;
        }
    }
    
    & #experts{
        width: 100vw;
        height: 100%;
        background: url(../assets/video/expert-gif.gif) center center;
        background-size: cover;

        & h1{
            padding: 0 0;
        }
    }
    
    & #great{
        width: 100vw;
        height: 100%;
        background: url(../assets/video/great-video.gif) center center;
        background-size: cover;
    }

    & .slide{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 4rem 1rem 1rem;
        text-align: center;
        z-index: 1;
        opacity: 1;

        & h3{
            color: white;
            font: 400 .85rem/1rem "Poppins", sans-serif;
            letter-spacing: 1px;
            z-index: 2;
        }

        & h1{
            padding: 0 2.5rem;
            z-index: 2;
            color: white;
            font: 900 2rem/100% "Playfair Display", sans-serif;

            & strong{
                color: var(--color-main);
                font: 900 2rem/100% "Playfair Display", sans-serif;
            }
        }

        & span{
            z-index: 2;
            color: white;
            font: 400 .75rem/1rem "Poppins", sans-serif;
            margin-top: 1.5rem;
        }

        & button{
            z-index: 2;
            color: white;
            font: 500 1rem/2rem "Poppins", sans-serif;
            letter-spacing: 1px;
            margin-top: 1.5rem;
            
            width: min-content;
            height: min-content;
            background-color: var(--color-main);
            white-space: nowrap;
            padding: .5rem 1rem;
            border: 2px solid transparent;

            
        }

        & button:hover{
                cursor: pointer;
                background-color: transparent;
                border: 2px solid var(--color-main);
            }
    }
}

@keyframes disapear{
    100%{
        opacity: 0;
    }
}

@keyframes slideleft0 {
    0%{
        transform: translateX(0);
    }

    50%{
        transform: translateX(-100vw);
    }

    100%{
        transform: translateX(-200vw);
    }
}


@media (width >= 1200px) {

    #mask{
        top: 96%;
        height: 2rem;
    }

    .slide-container{
        height: 110vh;

        & .slide{
            & h3{
                margin-top: 7%;
                font-size: 1rem;
                letter-spacing: .5rem;
            }

            & h1{
                max-width: 50rem;
                font-size: 5rem;
                line-height: 150%;
                & strong{
                    font-size: 5rem;
                }
            }

            & span{
                font-size: 1.25rem;
                max-width: 47rem;
                line-height: 150%;
            }
        }
    }

#arrow-left{
    position: absolute;
    left: 0;
    top: 50%;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background-color: red;
    border: 2px solid blue;
    align-content: center;
    text-align: center;

    & i{
        font-size: 1rem;
    }
}

#arrow-right{
    position: absolute;
    right: 0;
    top: 50%;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background-color: red;
    border: 2px solid blue;
    align-content: center;
    text-align: center;
    
    & i{
        font-size: 1rem;
    }
}

}